#phoneIcon,#mailIcon,#facebookIcon,#instagramIcon{
  max-width: 60px;
  max-height: 60px;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.logo{
  border: 1px solid #009bd6;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #009bd6;
  color: white;
}
.down-site{
  background-color: #009bd6;
}
.logo-o-firmie{
  border: 1px solid #009bd6;
  font-size: 11px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  background-color: #009bd6;
  color: white;
}
.logo-kontakt{
  border: 1px solid #009bd6;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  background-color: #009bd6;
  color: white;
}
.logo-container{
   text-align: center
}
.logo-container img{
  display: inline-block;
  margin: 0 auto;
}
