  <div class="row d-flex down-site justify-content-center logo-container">
      <div class="col-xl-6 logo">
        <div class="logo-container">
            <h1 class="text-center" >FP KLIMA</h1>
            <a href="">
              <img src="../assets/facebook.png" alt="" id="facebookIcon">
            </a>
            <a href="">
              <img src="../assets/instagram.png" alt="" id="instagramIcon">
            </a>
        </div>
      </div>
      <div class="col-xl-3 logo-o-firmie">
        <h5 class="text-center" >O FIRMIE</h5>
          <p class="text-start">Firma FP KLIMA świadczy usługi montażu i serwisu klimatyzacji dla klientów z Warszawy i okolic. Gwarantujemy atrakcyjne ceny oraz wysoką jakość. Zapraszamy do współpracy</p>
      </div>
      <div class="col-xl-3 logo-kontakt">
        <h5 class="text-center" >KONTAKT</h5>
          <p class="text-start" >Telefon: +48 724 796 481 </p>
          <p class="text-start">Email: FP.klima.biuro@gmail.com</p>
          <p class="text-start">Adres: </p>
      </div>
  </div>
