<div class="container">
  <p class="text-center" id="oferta">OFERTA</p>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-3 animation " >
      <p class="text-center"> MONTAŻ KLIMATYZACJI</p>
      <hr>
      <p>Profesjonalnie zaprojektujemy, dobierzemy, zamontujemy
          i przetestujemy cały system klimatyzacji.
          Udzielamy gwarancji na nasze usługi.</p>
    </div>
    <div class="col-xl-3 animation " >
      <p class="text-center "> DORADZTWO</p>
      <hr>
      <p>Indywidualnie dobierzemy odpowiedni klimatyzator. Gwarantujemy najwyższej klasy system klimatyzacji
          w konkurencyjnych cenach.</p>
    </div>
    <div class="col-xl-3 animation " >
      <p class="text-center"> SERWIS KLIMATYZACJI</p>
      <hr>
      <p>Aby klimatyzacja działała poprawnie, musi być regularnie serwisowana. FP Klima – to profesjonalne usługi serwisowe systemów klimatyzacji.</p>
    </div>
  </div>
</div>
