#katalogi{
color: #009bd6;
text-shadow: 0 0 2px #009bd6;
font-size: 40px;
margin: 40px;
}

.logo-container{
   text-align: center;
}
.logo-container img{
  display: inline-block;
  margin: 0 auto;
}
.logo-catalog{
  width: 300px;
  height: 200px;
}
.movement {
  transition: transform 0.3s ease;
}
.movement:hover{
  transform: scale(1.1);
}
.logo-price-list{
  font-size: 30px;
  color: #009bd6;;
}
.no-decoration{
  text-decoration: none;
}
.animation{
  animation: slide-out 1s forwards;
}


@keyframes slide-out {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
