<div class="container">
  <p class="text-center" id="katalogi">KATALOGI</p>
</div>
  <div class="row">
      <div class="col-lg-4 logo-container animation">
            <a class='logo-catalog' href="../../assets/catalogs/AUX_katalog.pdf" target="_blank">
              <img class="movement logo-catalog" src="../../assets/catalogs/AUX_logo.jpg" alt="" id="facebookIcon">
            </a>
            <a class='no-decoration' href="../../assets/catalogs/AUX_cennik.pdf" target="_blank">
              <p class='logo-price-list movement'><b>CENNIK - AUX</b></p>
            </a>
      </div>
      <div class="col-lg-4 logo-container animation">
            <a class='' href="../../assets/catalogs/LG_katalog.pdf " target="_blank">
              <img class="movement logo-catalog"src="../../assets/catalogs/LG_logo.png" alt="" id="facebookIcon">
            </a>
            <a class='no-decoration'href="../../assets/catalogs/LG_cennik.pdf" target="_blank">
              <p class='logo-price-list movement'><b>CENNIK - LG</b></p>
            </a>
      </div>
      <div class="col-lg-4 logo-container animation">
            <a class='' href="../../assets/catalogs/GREE_katalog.pdf " target="_blank">
              <img class="movement logo-catalog" src="../../assets/catalogs/GREE_logo.jpg" alt="" id="facebookIcon">
            </a>
            <a class='no-decoration' href="../../assets/catalogs/GREE_cennik.pdf" target="_blank">
              <p class='logo-price-list movement'><b>CENNIK - GREE</b></p>
            </a>
      </div>
      <div class="col-lg-4 logo-container animation">
            <a class='' href="../../assets/catalogs/MITSUBISHI_katalog.pdf " target="_blank">
              <img class="movement logo-catalog" src="../../assets/catalogs/MITSUBISHI_logo.png" alt="" id="facebookIcon">
            </a>
            <a class='no-decoration' href="../../assets/catalogs/MITSUBISHI_cennik.pdf" target="_blank">
              <p class='logo-price-list movement'><b>CENNIK - MITSUBISHI</b></p>
            </a>
      </div>
      <div class="col-lg-4 logo-container animation">
            <a class='' href="../../assets/catalogs/SEVRA_katalog.pdf " target="_blank">
              <img class="movement logo-catalog" src="../../assets/catalogs/SEVRA_logo.png" alt="" id="facebookIcon">
            </a>
            <a class='no-decoration' href="../../assets/catalogs/SEVRA_cennik.pdf" target="_blank">
              <p class='logo-price-list movement'><b>CENNIK - SEVRA</b></p>
            </a>
      </div>
      <div class="col-lg-4 logo-container animation">
            <a class='' href="../../assets/catalogs/TOSHIBA_katalog.pdf " target="_blank">
              <img class="movement logo-catalog" src="../../assets/catalogs/TOSHIBA_logo.png" alt="" id="facebookIcon">
            </a>
            <a class='no-decoration' href="../../assets/catalogs/TOSHIBA_cennik.pdf" target="_blank">
              <p class='logo-price-list movement'><b>CENNIK - TOSHIBA</b></p>
            </a>
      </div>
  </div>
