.logo-container{
   text-align: center
}
.logo-container img{
  display: inline-block;
  margin: 0 auto;
}
.logo-catalog{
  width: 300px;
  height: 200px;
}
.movement {
  transition: transform 0.3s ease;
}
.movement:hover{
  transform: scale(1.1);
}
.logo-price-list{
  font-size: 30px;
  color: #009bd6;;
}
.no-decoration{
  text-decoration: none;
}
