<div class="container-fluid h-100 w-100" id="main">
  <nav class="w-100 navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">FP KLIMA</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="isNavbarExpanded ? 'true' : 'false'"
      aria-controls="navbarNav" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isNavbarExpanded }">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><b>OFERTA</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>KONTAKT</b></a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xl-12" id="montazKlimatyzacji">
        <h1 class="text-start">MONTAŻ KLIMATYZACJI</h1>
      </div>
      <div class="col-xl-12" id="serwis">
        <p class="text-start">SERWIS</p>
      </div>
      <div class="col-xl-12">
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <p class="text-center" id="oferta">OFERTA</p>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-3 offer-block" >
      <p class="text-center"> MONTAŻ KLIMATYZACJI</p>
      <hr>
      <p>Profesjonalnie zaprojektujemy, dobierzemy, zamontujemy
i przetestujemy cały system klimatyzacji.
Udzielamy gwarancji na nasze usługi.</p>
    </div>
    <div class="col-xl-3 offer-block" >
      <p class="text-center"> DORADZTWO</p>
      <hr>
      <p>Indywidualnie dobierzemy odpowiedni klimatyzator. Gwarantujemy najwyższej klasy system klimatyzacji
w konkurencyjnych cenach.</p>
    </div>
    <div class="col-xl-3 offer-block" >
      <p class="text-center"> SERWIS KLIMATYZACJI</p>
      <hr>
      <p>Aby klimatyzacja działała poprawnie, musi być regularnie serwisowana. Artcool – to profesjonalne usługi serwisowe systemów klimatyzacji.</p>
    </div>
  </div>
</div>

  <div class="row down-site justify-content-center">
      <div class="col-xl-6 logo">
        <h1 class="text-center" >KLIMA</h1>
      </div>
  </div>

