#montazKlimatyzacji,#serwis{
color: white;
text-shadow: 0 0 15px #000000;
font-size: 40px;
}
#main{
  background-image: url('../assets/klima2.jpg');
  width: 1500px;
  height: 500px;
}
#montazKlimatyzacji{
  margin-top: 100px;
  margin-bottom: 100px
}
.nav-link{
color: white;
text-shadow: 0 0 3px #000000;
}
.nav-link:hover{
  color: black;
}
.navbar-brand{
color: white;
text-shadow: 0 0 3px #000000;
}
.offer-block{
  margin: 10px;
  border: 1px solid black;
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
}
