#montazKlimatyzacji,#serwis{
color: white;
text-shadow: 0 0 15px #009bd6;
font-size: 40px;
animation: slide-out 1s forwards;
}
#main{
  background-image: url('../../assets/klima3.jpg');
  background-size: cover; /* Adjust the background image size */
  background-repeat: no-repeat;
  width: 1500px;
  height: 500px;
}
#montazKlimatyzacji{
  margin-top: 100px;
  margin-bottom: 100px;
  animation: slide-out 1s forwards;
}
#NavBarphoneIcon{
  max-width: 40px;
  max-height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: slide-out 1s forwards;
}
.nav-link{
color: white;
text-shadow: 0 0 3px #009bd6;
}
.nav-link:hover{
  color: #009bd6;
  cursor: pointer;
}
.navbar-brand{
color: #009bd6;
text-shadow: 0 0 3px #009bd6;
}


@keyframes slide-out {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

