.navbar {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: #0077b6;
  padding: 10px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}

.navbar li a:hover {
  color: #000000;
}


.fixed {
  position: fixed;
  /* Styles for the fixed position */
}



