#montazKlimatyzacji,#serwis{
color: white;
text-shadow: 0 0 15px #009bd6;
font-size: 40px;
}
#main{
  background-image: url('../../assets/klima3.jpg');
  background-size: cover; /* Adjust the background image size */
  background-repeat: no-repeat;
  width: 1500px;
  height: 500px;
}
#montazKlimatyzacji{
  margin-top: 100px;
  margin-bottom: 100px;
}
#NavBarphoneIcon{
  max-width: 40px;
  max-height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: slide-out 1s forwards;
}
.nav-link{
color: white;
text-shadow: 0 0 3px #009bd6;
}
.nav-link:hover{
  color: #113645;
  cursor: pointer;
  text-shadow: 0 0 3px white;
}
.navbar-brand{
color: white;
text-shadow: 0 0 3px white;
}


@keyframes slide-out {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #009bd6;
  z-index: 10;
  opacity: 0.8;
}
@media screen and (max-width: 1100px) {
  .navbar {
    height: auto; /* Further adjusted height for even smaller screens */
  }
}
